
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<link rel="mask-icon" href="http://192.168.1.104/cmexx/api/public/images/favicon/favicon.ico" color="#5bbad5">

</head>
<body style="width: 9.6cm; height: 5cm;">

	<div class="content" style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; page-break-before: always; width: 9.4cm; height: 4.8cm; font: bolder 8.3pt Verdana; margin: 0; margin-left: 0.2cm;">
		<div class="just-line" style="display: flex; justify-content: space-between; margin: 0 1mm;">
			<img class="logo" alt="image" src="http://192.168.1.104/cmexx/api/public/images/logooficial-p.png" style="background-repeat: no-repeat; background-size: contain; width: 2.8cm; height: 1.3cm; padding-bottom: 0.1cm;"/>
			<div class="text-center">
				<div class="nome-produto" style="font-size: 9pt; text-align: center; font-weight: 900;">AFASTADORES DE SUPRA PÚBICA</div>
				<div class="complemento-produto" style="font-size: 6.5pt; text-align: center; font-weight: 900;"></div>
			</div>
		</div>
		<div class="line" style="margin: 0 1mm; font-weight: 900;">
			<div>Lote: 2021.404746</div>
		</div>
			<div class="line" style="margin: 0 1mm; font-weight: 900;">
			<div>Método: Desinfecção</div>
		</div>
		<div class="line" style="margin: 0 1mm; font-weight: 900;">
			<div>Funcionário: Bartolomeu Soares da Trindade</div>
		</div>
		<div class="line" style="margin: 0 1mm; font-weight: 900;">
			<div>Data: 13/12/2021</div>
		</div>
		<div class="line" style="margin: 0 1mm; font-weight: 900;">
			<div>Validade: 12/01/2022</div>
		</div>
		<div class="line" style="margin: 0 1mm; font-weight: 900;">
			<div>Quantidade peças: 4</div>
		</div>
	        <div class="line" style="margin: 0 1mm; font-weight: 900;">
            <div>Setor: HSLS - CENTRO CIRÚRGICO</div>
        </div>
			<div class="qrcode" style="float: right; margin: -8mm -0.2cm -2cm 0;">
			<img src="http://192.168.1.104/cmexx/api/public/images/etiqueta/005_file_b9061c94e911c9eaecb70c3a99ff3c26.png" class="qrcode-img" style="width: 1.6cm; height: 1.5cm;"/>
		</div>
    	</div>

</body>
</html>
